@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Inter&family=Oswald:wght@300;400&family=Poppins&family=Roboto:wght@100;300;400;500;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

.full-screen {
  height: 100vh;
  /* background-color: rgb(84, 180, 53); */
  /* z-index: -1; */
  position: relative;
  /* background-image: linear-gradient(to bottom right, #7ACD47, #2C2902); */
  background-size: 150% 150%;
  /* background-color: rgba(44, 41, 2, .4); */
}

.bg-brown {
  background-color: rgb(243, 250, 237);
}

.bg-old-brown {
  background-color: #2C2902;
}

/* .blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(100px);
  z-index: -1;
} */

.container-login {
  background-color: rgb(248, 245, 231);
  border-radius: 25px;
}

.sign-in {
  background-color: rgb(248, 245, 231);
  border-radius: 25px;
}

.max-content {
  width: max-content;
}

.green {
  background-color: #54b435;
}

.width-max-content {
  width: max-content;
}

.login-img {
  width: 400px;
}

.btn-login {
  background-color: #54b435;
  font-weight: bold;
}

.fs-14 {
  font-size: 14px;
}
.fs-11 {
  font-size: 11px;
}

.font-green {
  color: #54b435;
}

.btn-green {
  background-color: #54b435;
  border-style: none;
  border-radius: 5px;
}

.btn-brown {
  background-color: #2C2902;
  border-style: none;
  border-radius: 5px;
  color: white;
}

.btn-brown:hover {
  background-color: #2C2902;
  border-style: none;
  border-radius: 5px;
  color: white; 
}

.btn-brown:active {
  background-color: #2C2902;
  border-style: none;
  border-radius: 5px;
  color: white; 
}

a.btn-green:hover {
  background-color: #82cd47;
}

a.btn-green:active {
  background-color: #82cd47 !important;
}

.width-100-percent {
  width: 100%;
}

.btn-white {
  background-color: #ffff;
  border-style: none;
  border-radius: 5px;
}

.btn-white:hover {
  background-color: #f8f5e7;
}

.btn-hover-green:hover {
  background-color: #82cd47 !important;
}

.btn-white:active {
  background-color: #ffff !important;
}

nav {
  background-color: rgb(44, 41, 2);
}

.logo-brand {
  height: 35px;
  /* border-radius: 10px; */
}

.fs-12px {
  font-size: 12px;
}

img.icon-contact {
  background-color: white;
  border-radius: 100%;
  padding: 2px;
  height: 20px;
}

.footer {
  background-color: #2c2902;
  bottom: 0px;
}

.mt-20px {
  margin-top: 60px;
}

.pos-fixed {
  position: fixed;
}

.z-min1 {
  z-index: -1;
}

.top-60px {
  top: 60px;
  right: 0px;
}

img.hero-img {
  width: 500px;
}

.height-max-content {
  height: max-content;
}

.height-200vh {
  height: 200vh;
}

.mt-80px {
  margin-top: 70px;
}

.fs-40px {
  font-size: 40px;
}

@media (min-width: 768px) {
  .fs-50px {
      font-size: 50px !important;}
  .fs-30px {
      font-size: 30px !important;
  }
}

.right-min20 {
  position: absolute;
  right: -20px;
}

.hero {
  height: 475px;
  width: 100%;
}

.hero-bg {
  z-index: -2;
}

.z-index-2 {
  z-index: 2;
}

.bg-green {
  background-color: #82CD47;
}

.bg-cream {
  background-color: #f8f5e7;
}

.layanan {
  z-index: 1;
}

.border-cream {
  border: 5px solid #f8f5e7;
}

.text-bg-cream {
  background-color: #82cd47;
}

.right-0 {
  right: 0px;
}

/* .title {
  width: 75%;
} */

.width-60-percent {
  width: 60%;
}

.donasi-img {
  position: absolute;
  top: 3870px;
  right: 0px;
  overflow: hidden;
}

.color-brown {
  color: rgb(44, 41, 2);
}

.color-green {
  color: #82cd47;
}

.bg-end-footer {
  background-color: rgb(77, 73, 39);
}

.icon-15px {
  height: 15px;
  width: 15px;
}

.icon-eye {
  width: 15px;
  height: 10px;
}

.map-icon {
  width: 12px;
}

.bg-white {
  background-color: white;
  /* transition: background-color 0.3s cubic-bezier(0.47, 1.64, 0.41, 0.8), color 0.3s cubic-bezier(0.47, 1.64, 0.41, 0.8) !important; */
  transition: background-color 0.3s ease, color 0.3s ease;
}

#menu-layanan:hover {
 background-color: rgba(44, 41, 2, 0.5) !important;
 color: white !important;
}